body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .container {
    display: flex;               
    height: 100vh;
    border: 2px solid black;
  }
  

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;      
    justify-content: center;     
    align-items: center;         
    background: lightblue;
    gap: 20px;
    border-right: 2px solid black;
  }
  
  .blue-box {
    width: 60px;
    height: 60px;
    background: blue;
  }
  
  .purple-box {
    width: 50px;
    height: 50px;
    background: purple;
  }
  
  .right {
    flex: 2;
    display: flex;
    justify-content: center;     
    align-items: center;
    gap: 20px;                  
    background: lightgreen;
  }
  
  .item {
    width: 70px;
    height: 70px;
    background: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  